<a href="https://colab.research.google.com/github/Mithra16-star/Task1-data-cleaning/blob/main/Task1_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv("/content/Mall_Customers.csv")

In [2]:
print(df.isnull().sum())
df = df.dropna()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [3]:
df = df.drop_duplicates()

In [10]:
# Rename columns to be clean and uniform
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

In [24]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [25]:
df['age'] = df['age'].astype('Int64')  # Use Int64 for nullable integers

In [23]:
# Standardize Gender values
df['gender'] = df['gender'].str.strip().str.lower().replace({
    'm': 'Male',
    'male': 'Male',
    'f': 'Female',
    'female': 'Female',
    'female ': 'Female',
    'MALE': 'Male',
    'FEMALE': 'Female'
})

In [15]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/content/Mall_Customers.csv")

# Rename columns to lowercase and replace spaces with underscores first
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

# Now you can access columns with the new names
# Ensure 'age' is an integer
df['age'] = pd.to_numeric(df['age'], errors='coerce').fillna(0).astype(int)


# Save the cleaned dataset
df.to_csv('cleaned_dataset.csv', index=False)

# Display sample data
print(df.head())

   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40